.edit-input{
    border: none;
    outline: none;
    padding-left: 4px;
    background-color: rgb(234, 232, 236);
    &:focus{
        margin-bottom: -1px;
        border-bottom: 1px solid rgb(14, 25, 168);
    }
    &:hover{
        margin-bottom: -1px;
        border-bottom: 1px solid rgb(45, 57, 231);
    }
}